@using WebBanGiay.Models;
@using System.Drawing.Drawing2D;
@model List<Shoe>
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/header-footer.cshtml";
}




<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Basic&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
          rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="~/css/button.css" type="text/css">
    <link rel="stylesheet" href="~/template/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/template/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/template/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/template/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="~/template/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/template/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/template/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/template/css/style.css" type="text/css">
</head>

<body>
    





    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="hero__slider owl-carousel">
            <div class="hero__items set-bg" data-setbg="https://static.nike.com/a/images/f_auto,cs_srgb/w_1920,c_limit/9a596369-6f37-4324-abad-e68ef16f7e2c/nike-just-do-it.png">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-5 col-lg-7 col-md-8">
                            <div class="hero__text">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" hero__items set-bg" data-setbg="https://res.cloudinary.com/shelflife-online/image/upload/c_fill,f_auto,q_auto:eco,w_1392/v1575961299/uploads/assets/fb0-Blog-Banner-cjR.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-5 col-lg-7 col-md-8">
                            <div class="hero__text">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" hero__items set-bg" data-setbg="https://res.cloudinary.com/shelflife-online/image/upload/c_fill,f_auto,q_auto:eco,w_1392/v1575961299/uploads/assets/080-BRED4-BLOG-BANNER-Zil.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-5 col-lg-7 col-md-8">
                            <div class="hero__text">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->
    <!-- Banner Section Begin -->
    <section class="banner spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 offset-lg-4">
                    <div style="max-width: 300px;position: absolute;left: -50%; top: 35%;" class="banner__item__text">
                        <h2 style="font-family: Anton, sans-serif;font-weight: 400;font-style: normal;">
                            Air Jordan 1 Retro High OG 'Chicago' 2015
                        </h2>
                        <div data-tooltip="Price:-$20" class="button">
                            <div class="button-wrapper">
                                <div class="text">Buy Now</div>
                                <span class="icon">
                                    <svg viewBox="0 0 16 16" class="bi bi-cart2" fill="currentColor" height="16" width="16" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"></path>
                                    </svg>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="banner__item">
                        <div class="banner__item__pic">
                            <img src="~/template/img/banner/jorden1.jpg" alt="">
                        </div>
                        
                    </div>
                </div>
                <div style="width: 652px;height: 978px" class="col-lg-7">
                    <div style="max-width: 300px; position: inherit; left: 115%;top: 40%;" class="banner__item__text">
                        <h2 style="font-family: Anton, sans-serif;font-weight: 400;font-style: normal;">
                            Nike Air Force 1 Low White
                        </h2>
                        <div data-tooltip="Price:-$20" class="button">
                            <div class="button-wrapper">
                                <div class="text">Buy Now</div>
                                <span class="icon">
                                    <svg viewBox="0 0 16 16" class="bi bi-cart2" fill="currentColor" height="16" width="16" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"></path>
                                    </svg>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="banner__item banner__item--middle">
                        <div class="banner__item__pic">
                            <img src="https://i.pinimg.com/originals/e2/fb/b6/e2fbb667ff942ab87f55bab61ea2f2f1.jpg" alt="">
                        </div>
                        
                    </div>
                </div>
                <div class="col-lg-7 offset-lg-4">
                    <div style="max-width: 300px;position: absolute;left: -50%; top: 50%;" class="banner__item__text">
                        <h2 style="font-family: Anton, sans-serif;font-weight: 400;font-style: normal;">
                            Nike Blazer Mid '77 Vintage
                        </h2>
                        <div data-tooltip="Price:-$20" class="button">
                            <div class="button-wrapper">
                                <div class="text">Buy Now</div>
                                <span class="icon">
                                    <svg viewBox="0 0 16 16" class="bi bi-cart2" fill="currentColor" height="16" width="16" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"></path>
                                    </svg>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div style="margin-top: 50%;" class="banner__item">
                        <div class="banner__item__pic">
                            <img src="https://img01.ztat.net/article/spp-media-p1/a0d89f6565e73b1ba30bb838d7286252/e512b372e68e42a3a27c1b22972a73de.jpg?imwidth=1800" alt="">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner Section End -->
    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="filter__controls">
                        <li class="active" data-filter="*">Best Sellers</li>
                        <li data-filter=".new-arrivals">New Arrivals</li>
                        <li data-filter=".hot-sales">Hot Sales</li>
                    </ul>
                </div>
            </div>
            <div class="row product__filter">

                @foreach (var shoe in Model)
                {
                    <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
                        <div class="product__item">

                            <div class="product__item__pic set-bg" data-setbg="@(shoe.ShoeImages.FirstOrDefault()?.ImageUrl)" alt="@shoe.ShoeName">

                                <ul class="product__hover">
                                    <li><a href="#"><img src="~/template/img/icon/heart.png" alt=""></a></li>
                                    <li>
                                        <a href="#"><img src="~/template/img/icon/compare.png" alt=""> <span>Compare</span></a>
                                    </li>

                                    <li>
                                        <a asp-controller="Home" asp-action="ShopDetail" asp-route-id="@shoe.ShoeId"><img src="~/template/img/icon/search.png" alt=""></a>

                                    </li>
                                </ul>
                            </div>
                            <div class="product__item__text">
                                <h6 asp-controller="Product" asp-action="ViewDetail" asp-route-id="@shoe.ShoeId">@shoe.ShoeName</h6>
                                <a asp-controller="Cart" asp-action="Add" asp-route-id="@shoe.ShoeId" class="add-cart">+ Thêm vào giỏ hàng</a>
                                <div class="rating">
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                                <h5>@(shoe.Price?.ToString("N0") ?? "N/A")đ</h5>


                            </div>
                        </div>
                    </div>
                }
                @* <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/9666574d-f12c-46c8-b04b-fc50b3581e91/AIR+JORDAN+1+MID.png">
                            <span class="label">New</span>
                            <ul class="product__hover">
                                <li><a href="#"><img src="~/template/img/icon/heart.png" alt=""></a></li>
                                <li><a href="#"><img src="~/template/img/icon/compare.png" alt=""> <span>Compare</span></a></li>
                                <li><a href="#"><img src="~/template/img/icon/search.png" alt=""></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6>Piqué Biker Jacket</h6>
                            <a href="#" class="add-cart">+ Add To Cart</a>
                            <div class="rating">
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <h5>$67.24</h5>
                            <div class="product__color__select">
                                <label for="pc-1">
                                    <input type="radio" id="pc-1">
                                </label>
                                <label class="active black" for="pc-2">
                                    <input type="radio" id="pc-2">
                                </label>
                                <label class="grey" for="pc-3">
                                    <input type="radio" id="pc-3">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix hot-sales">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="~/template/img/product/product-2.jpg">
                            <ul class="product__hover">
                                <li><a href="#"><img src="~/template/img/icon/heart.png" alt=""></a></li>
                                <li><a href="#"><img src="~/template/img/icon/compare.png" alt=""> <span>Compare</span></a></li>
                                <li><a href="#"><img src="~/template/img/icon/search.png" alt=""></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6>Piqué Biker Jacket</h6>
                            <a href="#" class="add-cart">+ Add To Cart</a>
                            <div class="rating">
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <h5>$67.24</h5>
                            <div class="product__color__select">
                                <label for="pc-4">
                                    <input type="radio" id="pc-4">
                                </label>
                                <label class="active black" for="pc-5">
                                    <input type="radio" id="pc-5">
                                </label>
                                <label class="grey" for="pc-6">
                                    <input type="radio" id="pc-6">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
                    <div class="product__item sale">
                        <div class="product__item__pic set-bg" data-setbg="~/template/img/product/product-3.jpg">
                            <span class="label">Sale</span>
                            <ul class="product__hover">
                                <li><a href="#"><img src="~/template/img/icon/heart.png" alt=""></a></li>
                                <li><a href="#"><img src="~/template/img/icon/compare.png" alt=""> <span>Compare</span></a></li>
                                <li><a href="#"><img src="~/template/img/icon/search.png" alt=""></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6>Multi-pocket Chest Bag</h6>
                            <a href="#" class="add-cart">+ Add To Cart</a>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <h5>$43.48</h5>
                            <div class="product__color__select">
                                <label for="pc-7">
                                    <input type="radio" id="pc-7">
                                </label>
                                <label class="active black" for="pc-8">
                                    <input type="radio" id="pc-8">
                                </label>
                                <label class="grey" for="pc-9">
                                    <input type="radio" id="pc-9">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix hot-sales">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="~/template/img/product/product-4.jpg">
                            <ul class="product__hover">
                                <li><a href="#"><img src="~/template/img/icon/heart.png" alt=""></a></li>
                                <li><a href="#"><img src="~/template/img/icon/compare.png" alt=""> <span>Compare</span></a></li>
                                <li><a href="#"><img src="~/template/img/icon/search.png" alt=""></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6>Diagonal Textured Cap</h6>
                            <a href="#" class="add-cart">+ Add To Cart</a>
                            <div class="rating">
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <h5>$60.9</h5>
                            <div class="product__color__select">
                                <label for="pc-10">
                                    <input type="radio" id="pc-10">
                                </label>
                                <label class="active black" for="pc-11">
                                    <input type="radio" id="pc-11">
                                </label>
                                <label class="grey" for="pc-12">
                                    <input type="radio" id="pc-12">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="~/template/img/product/product-5.jpg">
                            <ul class="product__hover">
                                <li><a href="#"><img src="~/template/img/icon/heart.png" alt=""></a></li>
                                <li><a href="#"><img src="~/template/img/icon/compare.png" alt=""> <span>Compare</span></a></li>
                                <li><a href="#"><img src="~/template/img/icon/search.png" alt=""></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6>Lether Backpack</h6>
                            <a href="#" class="add-cart">+ Add To Cart</a>
                            <div class="rating">
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <h5>$31.37</h5>
                            <div class="product__color__select">
                                <label for="pc-13">
                                    <input type="radio" id="pc-13">
                                </label>
                                <label class="active black" for="pc-14">
                                    <input type="radio" id="pc-14">
                                </label>
                                <label class="grey" for="pc-15">
                                    <input type="radio" id="pc-15">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix hot-sales">
                    <div class="product__item sale">
                        <div class="product__item__pic set-bg" data-setbg="~/template/img/product/product-6.jpg">
                            <span class="label">Sale</span>
                            <ul class="product__hover">
                                <li><a href="#"><img src="~/template/img/icon/heart.png" alt=""></a></li>
                                <li><a href="#"><img src="~/template/img/icon/compare.png" alt=""> <span>Compare</span></a></li>
                                <li><a href="#"><img src="~/template/img/icon/search.png" alt=""></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6>Ankle Boots</h6>
                            <a href="#" class="add-cart">+ Add To Cart</a>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <h5>$98.49</h5>
                            <div class="product__color__select">
                                <label for="pc-16">
                                    <input type="radio" id="pc-16">
                                </label>
                                <label class="active black" for="pc-17">
                                    <input type="radio" id="pc-17">
                                </label>
                                <label class="grey" for="pc-18">
                                    <input type="radio" id="pc-18">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="~/template/img/product/product-7.jpg">
                            <ul class="product__hover">
                                <li><a href="#"><img src="~/template/img/icon/heart.png" alt=""></a></li>
                                <li><a href="#"><img src="~/template/img/icon/compare.png" alt=""> <span>Compare</span></a></li>
                                <li><a href="#"><img src="~/template/img/icon/search.png" alt=""></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6>T-shirt Contrast Pocket</h6>
                            <a href="#" class="add-cart">+ Add To Cart</a>
                            <div class="rating">
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <h5>$49.66</h5>
                            <div class="product__color__select">
                                <label for="pc-19">
                                    <input type="radio" id="pc-19">
                                </label>
                                <label class="active black" for="pc-20">
                                    <input type="radio" id="pc-20">
                                </label>
                                <label class="grey" for="pc-21">
                                    <input type="radio" id="pc-21">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix hot-sales">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="~/template/img/product/product-8.jpg">
                            <ul class="product__hover">
                                <li><a href="#"><img src="~/template/img/icon/heart.png" alt=""></a></li>
                                <li><a href="#"><img src="~/template/img/icon/compare.png" alt=""> <span>Compare</span></a></li>
                                <li><a href="#"><img src="~/template/img/icon/search.png" alt=""></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6>Basic Flowing Scarf</h6>
                            <a href="#" class="add-cart">+ Add To Cart</a>
                            <div class="rating">
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <h5>$26.28</h5>
                            <div class="product__color__select">
                                <label for="pc-22">
                                    <input type="radio" id="pc-22">
                                </label>
                                <label class="active black" for="pc-23">
                                    <input type="radio" id="pc-23">
                                </label>
                                <label class="grey" for="pc-24">
                                    <input type="radio" id="pc-24">
                                </label>
                            </div>
                        </div>
                    </div>
                </div> *@
            </div>
        </div>
    </section>
    <!-- Product Section End -->
    <!-- Categories Section Begin -->
    <section class="categories spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="categories__text">
                        <span style="font-family: Basic, sans-serif;
                              font-weight: 400;
                              font-style: normal;font-size:larger">Show love to the '80s with the Nike Dunk Low. From the super-durable build to the shoe's classic shape and feel, we honour this hardwood icon that'll fit easily into your kicks collection and is always ready to play.</span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="categories__hot__deal">
                        <img src="https://sneakcenter.com/cdn/shop/products/nike-dunk-low-grey-fog-sneakcenter-1-34785061830923.png?v=1701594096" alt="">
                        <div class="hot__deal__sticker">
                            <span>Sale Of</span>
                            <h5>$29.99</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 offset-lg-1">
                    <div data-tooltip="Price:-$20" class="button" style="top: 100%;">
                        <div class="button-wrapper">
                            <div class="text">Buy Now</div>
                            <span class="icon">
                                <svg viewBox="0 0 16 16" class="bi bi-cart2" fill="currentColor" height="16" width="16" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"></path>
                                </svg>
                            </span>
                        </div>
                    </div>
                    <div class="categories__deal__countdown">
                        <span>Deal Of The Week</span>
                        <h2>Nike Dunk Low Grey Fog</h2>
                        <div class="categories__deal__countdown__timer" id="countdown">
                            <div class="cd-item">
                                <span>3</span>
                                <p>Days</p>
                            </div>
                            <div class="cd-item">
                                <span>1</span>
                                <p>Hours</p>
                            </div>
                            <div class="cd-item">
                                <span>50</span>
                                <p>Minutes</p>
                            </div>
                            <div class="cd-item">
                                <span>18</span>
                                <p>Seconds</p>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Categories Section End -->
    <!-- Instagram Section Begin -->
    <section class="instagram spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="instagram__pic">
                        <div class="instagram__pic__item set-bg" data-setbg="~/template/img/instagram/instagram-1.jpg"></div>
                        <div class="instagram__pic__item set-bg" data-setbg="~/template/img/instagram/instagram-2.jpg"></div>
                        <div class="instagram__pic__item set-bg" data-setbg="~/template/img/instagram/instagram-3.jpg"></div>
                        <div class="instagram__pic__item set-bg" data-setbg="~/template/img/instagram/instagram-4.jpg"></div>
                        <div class="instagram__pic__item set-bg" data-setbg="~/template/img/instagram/instagram-5.jpg"></div>
                        <div class="instagram__pic__item set-bg" data-setbg="~/template/img/instagram/instagram-6.jpg"></div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="instagram__text">
                        <h2>Instagram</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.
                        </p>
                        <h3>#Male_Fashion</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Instagram Section End -->
    <!-- Latest Blog Section Begin -->
    <section class="latest spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>Latest News</span>
                        <h2>Fashion New Trends</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic set-bg" data-setbg="~/template/img/blog/blog-1.jpg"></div>
                        <div class="blog__item__text">
                            <span><img src="~/template/img/icon/calendar.png" alt=""> 16 February 2020</span>
                            <h5>What Curling Irons Are The Best Ones</h5>
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic set-bg" data-setbg="~/template/img/blog/blog-2.jpg"></div>
                        <div class="blog__item__text">
                            <span><img src="~/template/img/icon/calendar.png" alt=""> 21 February 2020</span>
                            <h5>Eternity Bands Do Last Forever</h5>
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic set-bg" data-setbg="~/template/img/blog/blog-3.jpg"></div>
                        <div class="blog__item__text">
                            <span><img src="~/template/img/icon/calendar.png" alt=""> 28 February 2020</span>
                            <h5>The Health Benefits Of Sunglasses</h5>
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Latest Blog Section End -->
    <!-- Search End -->
    <!-- Js Plugins -->
    <script src="~/template/js/jquery-3.3.1.min.js"></script>
    <script src="~/template/js/bootstrap.min.js"></script>
    <script src="~/template/js/jquery.nice-select.min.js"></script>
    <script src="~/template/js/jquery.nicescroll.min.js"></script>
    <script src="~/template/js/jquery.magnific-popup.min.js"></script>
    <script src="~/template/js/jquery.countdown.min.js"></script>
    <script src="~/template/js/jquery.slicknav.js"></script>
    <script src="~/template/js/mixitup.min.js"></script>
    <script src="~/template/js/owl.carousel.min.js"></script>
    <script src="~/template/js/main.js"></script>
</body>

</html>

